<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/setting.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <script>
        const urls = {
            homeButton: "{{ url_for('paideia') }}",
            graphButton: "{{ url_for('graph') }}",
            progressButton: "{{ url_for('progress') }}",
            settingButton: "{{ url_for('setting') }}"
        };
    </script>
</head>
<body>
    <div class="card-group">
        <div class="leftCardBody">
            <div class="leftTopCard">
                <h5 class="cardTitle">기말고사</h5>
                <p class="dDay">d-day</p>
                <p class="cheerUpMent"><small class="text-body-secondary">${코코아버터}님 오늘도 화이팅하세요</small></p>
            </div>
            <div class="cateGory">
                <article class="cateGory1" id="homeButton">
                    <img src="{{ url_for('static', filename='image/cocohome.png') }}" class="homeIcon" alt="homeIcon">
                    홈
                </article>
                <article class="cateGory2" id="graphButton">
                    <img src="{{ url_for('static', filename='image/cocograph.png') }}" class="cocograph" alt="cocograph">
                    학습률
                </article>
                <article class="cateGory3" id="progressButton">
                    <img src="{{ url_for('static', filename='image/progress.png') }}" class="progressIcon" alt="progressIcon">
                    학습페이지
                </article>
                <article class="cateGory4" id="settingButton">
                    <img src="{{ url_for('static', filename='image/cocosetting.png') }}" class="cocoSettingIcon" alt="cocoSettingIcon">
                    설정
                </article>
            </div>
        </div>
        <div class="rightCardBody">
            <div>
                <article class="print">
                    <img src="{{ url_for('static', filename='image/print.png') }}" class="printIcon" alt="printIcon">
                    인쇄하기
                </article>
            </div>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="cards">
                        <div class="card-body">
                            <h5 class="card-title">내 정보</h5>
                            <p class="card-text">이름</p>
                            <p class="card-text">문제추천설정: 키워드 적용</p>
                            <p class="card-text">목표: 하루에 문제풀이 @@개 풀기 등</p>
                            <p class="card-text">목표추가</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="cards">
                        <div class="card-body">
                            <h5 class="card-title">디데이</h5>
                            <li class="card-text">메인디데이</li>
                            <li class="card-text">디데이추가</li>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="cards">
                        <div class="card-body">
                            <h5 class="card-title">인쇄예약모드</h5>
                            <p class="card-text">요일</p>
                            <p>인쇄예약설정 시간 </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="cards">
                        <div class="card-body">
                            <h5 class="card-title">설정</h5>
                            <p class="card-text">글씨크기</p>
                            <p class="card-text">디데이추가</p>
                            <p class="card-text">1:1</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
